# General
.DS_Store
*.log
*.pyc
__pycache__/
*.swp
.env

# Node.js (React)
frontend
/node_modules/
frontend
/build/
frontend
/.env
frontend
/.DS_Store
frontend
/npm-debug.log*
frontend
/yarn-debug.log*
frontend
/yarn-error.log*
frontend
/.next/

# Django
be/env/
be/staticfiles/
be/media/
be/db.sqlite3
be/*.pyc
be/*.log
be/.DS_Store
be/.env
be/__pycache__/
be/*.sqlite3
be/*.sqlite

# Python
*.py[cod]
*.pyo
*.pyd
__pycache__/
*.cover
*.py,cover
.coverage
*.log
coverage.*
.cache
*.pot
*.mo
*.log
local_settings.py
*.sqlite3
db.sqlite3
instance/
.webassets-cache

# Django Stuff
*.pot
*.mo
*.log
local_settings.py
db.sqlite3
instance/
.scrapy
docs/_build/
target/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# PyCharm
.idea/
.idea/*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/datasources.xml
.idea/dataSources.local.xml
.idea/shelf/
.idea/svn.xml
.idea/markdown_navigator.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/webServers.xml
.idea/sonarlint.xml
.idea/libraries/
.idea/inspectionProfiles/Project_Default.xml

# Spyder
.spyderproject
.spyproject

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyo
*.pyd
*py[cod]
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environments in Jupyter
.ipynb_checkpoints

# End of https://www.toptal.com/developers/gitignore/api/python
# Custom Django
be/static/
be/media/

# Custom React
frontend
/node_modules/
frontend
/build/
